<AuthorizeView>
    <Authorized>
        <style>
            a{
                text-decoration: none;
                color: black;
                transition: all 200ms ease;
            }

            a:hover{
                text-decoration: none;
                    color: #BBBBBB;
            }
        </style>
        <a class="mb-auto mt-auto mx-2"><!--href="Identity/Account/Manage"--> Здравей, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link text-dark h-100">Изход</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <style>
            a {
                text-decoration: none;
                color: black;
                transition: all 200ms ease;
            }

            a:hover {
                 text-decoration: none;
                 color: #BBBBBB;
            }
        </style>
        <a class="mb-auto mt-auto mx-2" href="Identity/Account/Register">Регистрация</a>
        <a class="mb-auto mt-auto mx-2" href="Identity/Account/Login">Вход</a>
    </NotAuthorized>
</AuthorizeView>
