@using DiplomenP.Interfaces;
@using DiplomenP.Models;
@using DiplomenP.Services;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>Primer</PageTitle>

<div class="super_container mb-4">

    <!-- Header -->

    <header class="header">

        <!-- Top Bar -->

        <div class="top_bar">
            <div class="container">
                <div class="col d-flex flex-row justify-content-between">
                    <div class="top_bar_contact">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div>+359 88 757 6398</div>
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt=""></div><a href="https://mail.google.com/">1Shot_fishing@gmail.com</a></div>
                        </div>
                    </div>
                    <div class="top_bar_content">
                        <div class="col d-flex flex-row mt-auto mb-auto h-100 w-100">
                            <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt="lg_icon"></div>
                            <LoginDisplay />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Main -->

        <div class="header_main">
            <div class="container">
                <div class="row">

                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-3 col-3 order-1">
                        <div class="logo_container">
                            <div class="logo"><a href=""><img class="img-fluid" src="https://st3.depositphotos.com/1028367/14413/v/450/depositphotos_144139973-stock-illustration-black-fishing-icon.jpg"></a></div>
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
                                    <form action="#" class="header_search_form clearfix">
                                        <input type="search" required="required" class="header_search_input" @bind="pattern" placeholder="Потърси продукт...">
                                        <button type="submit" class="header_search_button trans_300 text-center" @onclick="Search">
                                            <img class="search_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/VisualEditor_-_Icon_-_Search-big_-_white.svg/1200px-VisualEditor_-_Icon_-_Search-big_-_white.svg.png" alt="search">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cart -->
                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                            <div class="cart">
                                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                    <div class="cart_icon">
                                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt="cart">
                                        <div class="cart_count"><span>@(itemCount)</span></div>
                                    </div>
                                    <div class="cart_content">
                                        <div class="cart_text"><a href="shopping_cart">Количка</a></div>
                                        <div class="cart_price">@totalItemsPrice</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <NavMenu></NavMenu>

    </header>

</div>

<main class="container main">
    @Body
</main>

@code {

    private string pattern { get; set; }

    private double totalItemsPrice;
    [Inject]
    private ICartService CartService { get; set; }
    [Inject]
    private IUserService UserService { get; set; }

    private List<CartItem> cartItems = new List<CartItem>();

    private string? userId;

    private int cartId = 0;

    private int itemCount = 0;

    protected override async Task OnInitializedAsync()
    {
        userId = UserService.GetLoggedUserId();
        if (userId != null)
        {
            cartItems = await CartService.GetCartItemsAsync(userId);
            cartId = await CartService.GetCartId(userId);
            foreach (var item in cartItems)
            {
                itemCount += item.Quantity;
            }
            totalItemsPrice = await CartService.GetCartTotalPriceAsync(cartId);
        }

    }

    private void Search()
    {
        var url = NavigationManager.ToAbsoluteUri($"/searchResult/{pattern}");
        NavigationManager.NavigateTo(url.ToString(), true);
    }

}