@page
@model ForgotPasswordModel

<style>

    html,
    body {
        height: 100%;
        width: 100%;
    }

    .container {
        height: 82%;
        max-width: 78%;
    }

    .pb-1 {
        height: 100%;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #48B924;
    }

    .bg-image {
        background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/04/Photos-download-fishing-Wallpaper-HD.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    a:hover {
        color: #328b16;
    }

    .form-floating {
        margin-bottom: 8px;
    }

    .form-signin {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 30px;
        border-radius: 5px;
        width: 100%;
    }

    .form-control {
        width: 100%;
    }

        .form-control:focus {
            border-color: #48B924;
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
        }

    .footer {
        overflow: visible;
        position: relative;
    }

</style>

<style type="text/css" media="screen and (max-width:575px)">
    .container {
        max-width: 100%;
    }
</style>

<div class="container-fluid bg-image">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <form method="post" class="form-signin">
                <h1 class="h3 mb-3">Въведете име си</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
