@page "/add_product"
@using DiplomenP.Data;
@using DiplomenP.Interfaces;
@using DiplomenP.Models;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc;
@using System.Text.RegularExpressions;

<PageTitle>Добавяне</PageTitle>

@if (IsSuccess)
{
    <p class="text-success">Продуктът беше създаден успешно!</p>
}

@if (IsError)
{
    <p class="text-danger">Възникна грешка при създаването на продукта.</p>
}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-10 mx-auto">
                <div class="row align-items-center mt-2 mb-2">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-title text-center mt-3">
                                <h3>Добави нов продукт</h3>
                            </div>
                            <div class="card-body">
                                <form action="" @onsubmit="HandleSubmit">

                                    <div class="form-group">
                                        <label for="productname" class="mb-1">Име на продукта:</label>
                                        <input type="text" class="form-control mb-3" id="productname" @bind="product.ProductName" required
                                               placeholder="Запиши име на продукта">
                                        <div class="invalid-feedback">Полето с името не може да е празно!</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productprice" class="mb-1">Цена:</label>
                                        <input type="text" class="form-control mb-3" id="productprice" @bind="product.Price" required
                                               placeholder="Запиши цена на продукта">
                                        <div class="invalid-feedback">Полето с цена не може да е празно!</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="producttype" class="mb-1">Тип:</label>

                                        <select id="productType" name="Type" @onchange="OnSelect" class="form-control mb-3">
                                            <optgroup label="Fishing_rod">
                                                <option value="Carp_rod">Carp_rod</option>
                                                <option value="Trolling_rod">Trolling_rod</option>
                                                <option value="Spinning_rod">Spinning_rod</option>
                                                <option value="Fly_rod">Fly_rod</option>
                                            </optgroup>
                                            <optgroup label="Fishing_reel">
                                                <option value="Front_advance">Front_advance</option>
                                                <option value="Back_advance">Back_advance</option>
                                                <option value="Fly_reel">Fly_reel</option>
                                            </optgroup>
                                            <optgroup label="Fishing_line">
                                                <option value="Monofilament_line">Monofilament_line</option>
                                                <option value="Braided_line">Braided_line</option>
                                            </optgroup>
                                            <optgroup label="Fishing_hook">
                                                <option value="One_hook">One_hook</option>
                                                <option value="Three_hook">Three_hook</option>
                                                <option value="Lure">Lure</option>
                                            </optgroup>
                                            <option value="Fishing_clothes">Fishing_clothes</option>
                                            <option value="Fishing_accessories">Fishing_accessories</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="productcount" class="mb-1">Брой:</label>
                                        <input type="text" class="form-control mb-3" id="productcount" @bind="product.ProductCount" required
                                               placeholder="Запиши брой продукти">
                                        <div class="invalid-feedback">Полето с брой не може да е празно!</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productdesc" class="mb-1">Описание:</label>
                                        <input type="text" class="form-control mb-3" id="productdesc" @bind="product.Description" required
                                               placeholder="Запиши описание на продукта">
                                        <div class="invalid-feedback">Полето с описание не може да е празно!</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productbrand" class="mb-1">Марка:</label>
                                        <input type="text" class="form-control mb-3" id="productbrand" @bind="product.Brand" required
                                               placeholder="Запиши марка на продукта">
                                        <div class="invalid-feedback">Полето с марка не може да е празно!</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productbrand" class="mb-1">Снимка:</label>
                                        <input type="text" class="form-control mb-3" id="productimage" @bind="product.Image" required
                                               placeholder="Запиши снимка на продукта">
                                        <div class="invalid-feedback">Полето с марка не може да е празно!</div>
                                    </div>
                                    <button class="btn btn-dark mt-5 mx-auto d-block" type="submit">Добави продукт</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code{

    [Inject]
    private IProductService ProductService { get; set; }

    private Product product { get; set; } = new Product();
    private bool IsSuccess { get; set; }    
    private bool IsError { get; set; }

    private string selectedString = "Carp_rod";
    private void OnSelect(ChangeEventArgs e)
    {
        selectedString = e.Value.ToString();
    }

    public bool IsStringValid(string input)
    {
        // Regular expression to match strings that contain at least one letter
        Regex regex = new Regex(@"^(?=.*[a-zA-Z])[\p{L}\p{N}\s\p{P}]*$");

        return regex.IsMatch(input);
    }

    private async Task HandleSubmit()
    {
        product.Type = selectedString;
        if (product.Price >= 0 && product.Price <= 5000 && product.ProductCount <= 5000 && product.ProductCount >= 0 && IsStringValid(product.ProductName) && IsStringValid(product.Image)
        && IsStringValid(product.Description) && IsStringValid(product.Brand) )
        {
            await ProductService.CreateProductAsync(product.ProductName, product.Price, product.Type, product.ProductCount, product.Image, product.Description, product.Brand);
            IsSuccess = true;

            product.ProductName = "";
            product.Price = 0;
            product.Type = "";
            product.ProductCount = 0;
            product.Image = "";
            product.Description = "";
            product.Brand = "";

            IsError = false;
        }
        else
        {
            IsError = true;
        }
    }

}