@page "/cart_history"

<PageTitle>История</PageTitle>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Имена на продуктите</th>
            <th scope="col">Заплатена сума</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">12.01</th>
            <td>Mark, Ivan, Pesho</td>
            <td>300</td>
        </tr>
        <tr>
            <th scope="row">13.04</th>
            <td>Jacob, Mitko, Koci</td>
            <td>1000</td>
        </tr>
    </tbody>
</table>

@code {

}
