@page "/contacts"

<PageTitle>Контакти</PageTitle>

<h2 class="text-center w-100"><strong>Контакти за връзка с нас</strong></h2>

<p class="fs-4">
    <strong><u>За клиенти</u></strong>
</p>

<p class="fs-5"><strong>e-mail: 1Shot_fishing@gmail.com</strong></p>
<p class="fs-5"><strong>Телефон: 088 757 6398</strong></p>

<hr class="w-25">

<p class="fs-4">
    <strong><u>За търговци</u></strong>
</p>

<p class="fs-5"><strong>e-mail: atodorov1545@gmail.com</strong></p>
<p class="fs-5"><strong>Телефон: 088 757 6390</strong></p>