@page "/Лефер"

<PageTitle>Лефер</PageTitle>

<style>

    .container-custom {
        padding-inline: 15rem;
        padding-block: 2.5rem;
    }

    .heading {
        color: rgb(12, 202, 21);
        font-size: 3rem;
        opacity: 0.7;
        transition: all 0.5s ease-in-out;
        cursor: default;
    }

        .heading:hover {
            opacity: 1;
        }

    .text-container {
        margin-top: -0.5rem;
    }

</style>

<style type="text/css" media="screen and (max-width:992px)">
    .container-custom {
        padding-inline: 0;
    }
</style>

<div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
    <img class="w-100 rounded-2" src="https://www.fisheries.noaa.gov/s3/dam-migration/bluefish-noaa-shutterstock.jpg" alt="Лефер.img" />

    <div class="d-flex justify-content-start w-100">
        <h1 class="align-items-start heading mb-0">Лефер</h1>
    </div>

    <div class="text-container d-flex flex-column rounded-2 py-1 px-4">
        <h3 class="border-bottom mb-0 border-secondary mt-3">Леферът</h3>
        <p class="col-8 my-1 w-100 fs-5">
            Умерено пропорционална риба, с източено, леко сплеснато тяло, покрито с люспи и широка, раздвоена опашка. Бодливата първа гръбна перка обикновено е сгъната назад 
            в бразда, както и нейните гръдни перки. Оцветяването е сивкаво синьо-зелено отгоре, избледняващо до бяло в долните страни и корема. Устите им са широки, със силни 
            челюсти, осеяни с многобройни зъби.Достига дължина на тялото 70 – 100 см, тегло – 15кг, рядко 20 кг. Живеят до 9 години. Стадна, топлолюбива риба, извършва 
            размножителни, хранителни и зимни миграции. Всяка година, започвайки от януари, леферът започва годишната си миграция на север. Причината за тази миграция е 
            неизвестна, но се предполага, че тя се дължи на сезонни промени в интензивността на светлината и продължителността на деня. Икономически значима популация се 
            появява през май – юли край българските брегове, хвърля хайвера си в Черно море, мигрира на юг през Истанбул (Босфор, Мраморно море, Дарданели, Егейско море) 
            към турското средиземноморско крайбрежие, за да прекара студения сезон.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Хранене</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Възрастните лефери са силни и агресивни и живеят на свободни групи. Те са бързи плувци, които плячкосват ята дребни риби и продължават да ги атакуват френетично, 
            дори след като са се нахранили. В зависимост от района и сезона, те предпочитат херинга, сардела, карагьоз, цаца, хамсия, сафрид, скумрия, скариди и калмари. Те 
            са канибали и могат да унищожат дори собствените си малки.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Размножаване</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Съзряват полово на 2 – 3 години, размножават се през през май – септември, в зависимост от сезонните промени в температурата и миграционните цикли. Плодовитостта 
            варира от 400 000 до 2 000 000 яйца в зависимост от размера на индивида. Женските изхвърлят яйцата в струи, докато мигрират по бреговете. След това мъжете 
            разпръскват своите семена и настъпва оплождане. В зависимост от температурата на водата, свободно плаващите, пълни със масло яйца могат да се излюпят в рамките 
            на 44 до 48 часа след оплождането. След това новоизлюпените рибки мигрират в устията и заливите, докато достигнат тегло от около 1 кг. Личинките се хранят със 
            зоопланктон и ларви на мекотели, а възрастните риби – изключително с риба. Нарастват бързо.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Интересни факти</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Леферите са агресивни и е известно, че причиняват тежки ухапвания на рибарите.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Риболов</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Леферът изключително рядко стои на дълбочина под 1 метър и много често, дори се вижда преди да удари.
            Най-много риби се ловят на повърхностни примамки с разнообразна проводка. Разбира се предимно сутрин и вечер, но през последната година най-големите 
            риби са следобед в голямата жега. Интересно е,че се ловят лефери както по пристанищата в някой ъгъл, където хищника е приклещил плячката си, така 
            и на плажове дълги по километър и повече или пък около вливането на някоя река в морето. Основният избор на място за улов на лефер, обаче винаги зависи от 
            сезона има места, където рибата идва по едно и също време на годината и се задържа там за кратко и ако се знае къде са тия места и се отиде в подходящото 
            време, то шанса за добър риболов е доста по-голям.
        </p>

    </div>

    <h3 class="w-100 align-items-start mt-3">
        Комплект, който би бил подходящ за този вид риболов:
    </h3>

</div>