@page "/fishing_rods"

<PageTitle>Въдици</PageTitle>

<h2>Шарански въдици</h2>

@* @foreach *@

<h2>Тролинг въдици</h2>

<h2>Спининг въдици</h2>

@* @foreach *@


<h2>Мухарски въдици</h2>

@* @foreach *@


@code {

}
