@page "/Сом"

<PageTitle>Сом</PageTitle>

<style>

    .container-custom {
        padding-inline: 15rem;
        padding-block: 2.5rem;
    }

    .heading {
        color: rgb(12, 202, 21);
        font-size: 3rem;
        opacity: 0.7;
        transition: all 0.5s ease-in-out;
        cursor: default;
    }

        .heading:hover {
            opacity: 1;
        }

    .text-container {
        margin-top: -0.5rem;
    }

</style>

<style type="text/css" media="screen and (max-width:992px)">
    .container-custom {
        padding-inline: 0;
    }
</style>

<div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
    <img class="w-100 rounded-2" src="https://rubovod.com.ua/wp-content/uploads/2020/09/%D1%81%D0%BE%D0%BC.jpg" alt="Сом.img" />

    <div class="d-flex justify-content-start w-100">
        <h1 class="align-items-start heading mb-0">Сом</h1>
    </div>

    <div class="text-container d-flex flex-column rounded-2 py-1 px-4">
        <h3 class="border-bottom mb-0 border-secondary mt-3">Сомът</h3>
        <p class="col-8 my-1 w-100 fs-5">
            Сомът (Silurus glanis), още Европейски сом, е сладководна риба, чието тяло е без люспи. На дължина вероятно достига до 5 m, а на тегло – 
            до 300 kg (тези данни са от стари публикации и не са доказани). Официалният рекорд е 134,97 kg – на сом, уловен в река По, Италия през 2010 г. 
            Зъбите на сома са остри и завити навътре. Отгоре тялото му е тъмно, а страните и коремът са на петна. На горната челюст има две, а на долната – 
            четири по-къси мустачки. Тези мустачки са осезателните му органи.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Хранене</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Сомът е хищна риба и се храни с рибки, жаби, раци, насекоми, мекотели и дори по-дребни представители на собствения си вид. 
            По-едрите могат да включат в менюто си дребни бозайници и водоплаващи птици.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Размножаване</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Размножаването обикновено се извършва през пролетния и летния период. Това е така, защото развитието на яйцата е силно свързано с температурата на водата. 
            Размножаването се случва веднъж годишно.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Интересни факти</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Мъжкият сом прави на дъното гнездо и пази хайвера, снесен от женската. Топлолюбива риба е активна в топлите месеци и прекарваща зимата в дрямка.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Риболов</h3>

        <p class="col-8 w-100 fs-5 my-1">
            У нас се срещат европейски и американски канален сом, който се отличава с мастна перка между гръбния и опашния плавник и рядко надхвърля 2 кг. 
            Независимо, че се храни предимно през нощта, добре се лови сутрин и вечер. Може да се хване и през деня, но това е по - рядко. Предимно се лови на 
            кльонк или тролинг. Има и други начини на риболов на сом като на дъно, на голяма плувка /тапа/, блесни, воблери, силиконови примамки... Риболова не е 
            успешен при рязка смяна на температурата или нивото на водата, също така и рязка смяна на налягането. За да имате добър резултат трябва водата да е 
            топла и времето стабилно. Предимно се ловят малки сомчета. Сом над 10 кг е вече по - рядък улов и голям късмет. Най - добре се лови от ранна сутрин до 
            обяд и след 17-18ч. до късна вечер. През нощта риболова е забранен, не забравяйте това. Леговищата на сома са дънни ями, подмоли, паднали дървета, големи 
            камъни... Минимално допустимите размери за улов на сом са: европейски сом - Silurus glanis - 65 см и американски - Ictaluridae, американски канален - 
            Ictalurus punctatus - 25 см.
        </p>

    </div>

    <h3 class="w-100 align-items-start mt-3">
        Комплект, който би бил подходящ за този вид риболов:
    </h3>

</div>
