@page "/Шаран"

<PageTitle>Шаран</PageTitle>

<style>

    .container-custom {
        padding-inline: 15rem;
        padding-block: 2.5rem;
    }

</style>

<div class="div d-flex flex-column align-items-center justify-content-center container-custom" style="font-family: Barlow Condensed, sans-serif;">

    <img class="w-100" src="https://www.ribata.bg/wp-content/uploads/2018/01/Carpio_ogledalen-1170x679.jpg" alt="">

    <h1 class="align-items-start w-100">Sharan</h1>

    <p class="col-8 my-1 w-100 px-4 fs-5">
            Шаранът е типичен представител на костните риби. Той спада към
            семейството на каракудата, скобар, червеноперка. Шаранът (Cyprinus
            carpio) е сладководна риба, която достига до 120 cm на дължина и до 35
            kg на тегло. Световният рекорд е 34,35 kg и е поставен в езеро Lac de
            Saint-Cassien във Франция.[2] Шаранът е всеяден, като в ранна възраст се
            храни с планктон и с увеличаване на теглото, преминава към консумиране
            на различни бентосни организми. По-големите риби ядат и малки рибки
            поради неспособността да си осигуряват необходимото количество храна.
            Размножава се през пролетта. В нашите води той намира отлични условия за
            размножаване и живот. Днес шаранът се отглежда често в язовирни и други
            водоеми. Високогърбестият шаран има дълги ъглести гръбни перки и четири
            мустака около устата, с които търси по дъното растения и дребни
            животинки. Чрез развъждане и селекциониране в продължение на столетия от
            него са създадени многобройни раси. Особено известни са унгарските
            шарани, които отстрани имат съвсем малко едри люспи (едролюспест шаран)
            както и огледалните (голи) шарани.
    </p>

    <h3 class="w-100 align-items-start mt-2">Podhodqshti producti:</h3>

</div>

