@page "/Шаран"

<PageTitle>Шаран</PageTitle>

<style>

.container-custom {
  padding-inline: 15rem;
  padding-block: 2.5rem;
}

.heading {
  color: rgb(12, 202, 21);
  font-size: 3rem;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
  cursor: default;
}

.heading:hover {
  opacity: 1;
}

.text-container {
  margin-top: -0.5rem;
}

</style>

<style type="text/css" media="screen and (max-width:992px)">
    .container-custom {
        padding-inline: 0;
    }
</style>

    <div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
        <img class="w-100 rounded-2" src="https://www.floridamuseum.ufl.edu/wp-content/uploads/sites/66/2020/02/Plate-33-scaled.jpg "alt="Шаран.img" />

        <div class="d-flex justify-content-start w-100">
            <h1 class="align-items-start heading mb-0">Шаран</h1>
        </div>

        <div class="text-container d-flex flex-column rounded-2 py-1 px-4">
            <h3 class="border-bottom mb-0 border-secondary mt-3">Шаранът</h3>
            <p class="col-8 my-1 w-100 fs-5">
                Шаранът е типичен представител на костните риби. Той спада към семейството на каракудата, скобар, червеноперка. 
                Шаранът (Cyprinus carpio) е сладководна риба, която достига до 120 cm на дължина и до 35 kg на тегло. Световният 
                рекорд е 34,35 kg и е поставен в езеро Lac de Saint-Cassien във Франция.
            </p>

            <h3 class="border-bottom mb-0 border-secondary mt-3">Хранене</h3>

            <p class="col-8 w-100 fs-5 my-1">
                Шаранът е всеяден, като в ранна възраст се храни с планктон и с увеличаване на теглото, преминава към 
                консумиране на различни бентосни организми. По-големите риби ядат и малки рибки поради неспособността да 
                си осигуряват необходимото количество храна. Размножава се през пролетта. В нашите води той намира 
                отлични условия за размножаване и живот.
            </p>

            <h3 class="border-bottom mb-0 border-secondary mt-3">Размножаване</h3>

            <p class="col-8 w-100 fs-5 my-1">
                През май и юни по камъни и водни растения женските шарани хвърлят хайвера си – до 500 000 хайверни зрънца. 
                Малките рибки се отглеждат в плитки, обрасли с растителност басейни. През есента се преместват в по-дълбоки 
                басейни за презимуване. Тук, заровени в тинята, са защитени от студа. Теглото на един две-тригодишен шаран 
                достига средно три килограма.
            </p>

            <h3 class="border-bottom mb-0 border-secondary mt-3">Интересни факти</h3>

            <p class="col-8 w-100 fs-5 my-1">
                В България има традиция на Никулден да се готви пълнен шаран.
            </p>

            <h3 class="border-bottom mb-0 border-secondary mt-3">Риболов</h3>

            <p class="col-8 w-100 fs-5 my-1">
                Той е главен обект на промишлено развъждане от рибните видове главно заради търговията с неговото месо. 
                Желан обект е за спортен риболов поради вкусовите си качества, борбеността си и непретенциозността си към 
                природните условия. Шаранът е една от най-вкусните сладководни риби. Месото му е бледо розово и има голям 
                брой дребни костици.
            </p>

        </div>

        <h3 class="w-100 align-items-start mt-3">
            Комплект, който би бил подходящ за този вид риболов:
        </h3>

    </div>

