@page "/Щука"

<PageTitle>Щука</PageTitle>

<style>

    .container-custom {
        padding-inline: 15rem;
        padding-block: 2.5rem;
    }

    .heading {
        color: rgb(12, 202, 21);
        font-size: 3rem;
        opacity: 0.7;
        transition: all 0.5s ease-in-out;
        cursor: default;
    }

        .heading:hover {
            opacity: 1;
        }

    .text-container {
        margin-top: -0.5rem;
    }

</style>

<style type="text/css" media="screen and (max-width:992px)">
       .container-custom{
           padding-inline: 0;
       }
</style>

<div class="d-flex flex-column align-items-center justify-content-center container-custom mb-1">
    <img class="w-100 rounded-2" src="https://h9t4t3i4.stackpathcdn.com/sites/default/files/inline-images/northern-pike.jpg"
         alt="Щука.img" />

    <div class="d-flex justify-content-start w-100">
        <h1 class="align-items-start heading mb-0">Щука</h1>
    </div>

    <div class="text-container d-flex flex-column rounded-2 py-1 px-4">
        <h3 class="border-bottom mb-0 border-secondary mt-3">Щуката</h3>
        <p class="col-8 my-1 w-100 fs-5">
            Щуката е голяма хищна риба, широко разпространена в нашите води. Среща се почти във всички водоеми и реки с изключение на високопланинските. 
            Достига над 150 см дължина и тегло до 20 кг. Тялото й е с удължена форма, леко сплескана странично. Очите й са големи, като цветът им е 
            жълтеникав, а зениците черни. Зрението й е много силно развито и вижда не само напред, но и встрани. Гръбната перка е разположена над аналната. 
            Заедно с опашката се образува мощна двигателна система, която с един мах изхвърля рибата стремително напред. Цветът на тялото на този хищник 
            се мени според местообитанието му и преминава от златист, през тъмно златисто зелен до маслено зелен. Страните са покрити с дребни бяло жълтеникави 
            и тъмни петна или ивици. Долната челюст е по-дълга от горната и покрита с големи, остри и по-редки зъби, различни от тези разположени по небцето й. 
            Те представляват многобройни редици гъсти и закривени навътре зъби.<br>
            Тя регулира равновесието на екосистемата на водоема тъй като унищожава най-вече болните и наранени риби.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Хранене</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Малките рибки, след излюпването от хайвера, се хранят със зоопланктон – хайвера на други риби и дребни ракообразни. При достигане на размер 5 – 6 
            см щуката започва да се храни изключително с малки рибки. Не са редки и случаите на канибализъм, когато по-едрите екземпляри се хранят с по-дребните. 
            В нейната дажба попадат също така жаби, мишки и малките на водоплаващите птици. За разлика от другите хищници, щуката се държи на определени 
            места във водоема и напада жертвите си от засада, като след нападението се завръща на своето място. Преследването на жертвата не е работа за щуката. 
            Характерен е също така и начина, по който тя улавя рибата, с която се храни – обикновено първоначалното захващане е напреки на тялото, след 
            което тя я поема с главата напред. Това е следствие на определения строеж на челюстите и зъбите на щуката, които не са предназначени за дъвчене – 
            щуката гълта жертвите си цели.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Размножаване</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Женската, в зависимост от размерите си, хвърля 40 000 – 250 000 хайверени зърна на килограм от теглото ѝ. Те имат размер около 3 mm. Инкубационния 
            период е 10 – 30 дни. Полова зрялост настъпва на около 3 – 4-годишна възраст. Обикновено самката се придружава от 3 – 4 мъжки, като при по-възрастните 
            екземпляри броят на самците достига 6 – 7 и дори 8. Рибите плуват групово, като мъжките се трият постоянно в женската. Щуката хвърля хайвера си в 
            плитчините върху водната растителност, обикновено на места, наводнени от пролетните пълноводия. Периода на размножаване е по-рано от този на другите 
            риби във водоема. В зависимост от географската ширина започва от края на февруари, началото на март и продължава до края на март, началото на април.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Интересни факти</h3>

        <p class="col-8 w-100 fs-5 my-1">
            Месото от щука съдържа само няколко процента мазнини и затова се счита за диетично.
            Зъбите на щуката се заменят с нови, когато се загубят или се износят през целия си живот.
            Те атакуват всяка плячка, която могат да преодолеят. И така, има случаи на закоравели стари щуки, атакуващи възрастни патици.
            Живеят само в студена вода.
            В зависимост от района на улов пресният хайвер на щука може да бъде до известна степен отровен. Ако обаче е осолено, тогава може спокойно да се яде.
        </p>

        <h3 class="border-bottom mb-0 border-secondary mt-3">Риболов</h3>

        <p class="col-8 w-100 fs-5 my-1">
            За риболов на щука се прилагат различни методи и тактики. На дъно, на голяма плувка / тапа /, спининг,"Драшкович". За стръв се използват различни 
            рибки, дори и жаби. Като най-издръжливата е каракудата. Хубаво е рибките за стръв, да са от водоема в който ще ловите. Добри резултати има с 
            големите блесни и воблерите. Желателно е да използвате метален повод и плетено влакно.
        </p>

    </div>

    <h3 class="w-100 mt-3 px-1">
        Комплект, който би бил подходящ за този вид риболов:
    </h3>

</div>
