@page "/"

<PageTitle>Home</PageTitle>

<div class="lightbox-gallery">
    <div class="container">

        <div class="intro">
            <h2 class="text-center">Здравейте, Koлеги</h2>
            <p class="text-center">Коя от тези риби е вашата плячка?</p>
        </div>

        <div class="row photos">

            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="Шаран" data-lightbox="photos">
                    <img class="img-fluid" src="https://cdncloudcart.com/16372/products/images/42667/saran-ohladen-cisten-image_5ea92b53c0b07_800x800.jpeg?1588145250">
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-top: 35px;">
                <a href="Щука" data-lightbox="photos">
                    <img class="img-fluid" src="http://visitbatak.bg/wp-content/uploads/2015/12/%D1%89%D1%83%D0%BA%D0%B0.jpg">
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-top: 5px;">
                <a href="Сом" data-lightbox="photos">
                    <img class="img-fluid" src="https://www.ribata.bg/wp-content/uploads/2018/01/sumec_velky-480x380.jpg">
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-top: 25px;">
                <a href="Червеноперка" data-lightbox="photos">
                    <img class="img-fluid" src="https://sites.google.com/site/zaribarite/_/rsrc/1307517018143/cervenoperka/1.jpg?height=135&width=320">
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-top: 67px;">
                <a href="Костур" data-lightbox="photos">
                    <img class="img-fluid" src="https://ribitebg.free.bg/Perca%20fluviatilis.gif">
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-top: 88px;">
                <a href="Пъстърва" data-lightbox="photos">
                    <img class="img-fluid" src="http://visitbatak.bg/wp-content/uploads/2015/12/%D0%B1%D0%B0%D0%BB%D0%BA%D0%B0%D0%BD%D1%81%D0%BA%D0%B0-%D0%BF%D1%8A%D1%81%D1%82%D1%8A%D1%80%D0%B2%D0%B0.jpg">
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-top: 45px;">
                <a href="Сафрид" data-lightbox="photos">
                    <img class="img-fluid" src="https://cdncloudcart.com/16372/products/images/42649/safrid-ohladen-image_5ea92af281cd1_1920x1920.jpeg?1588145177">
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="Лефер" data-lightbox="photos">
                    <img class="img-fluid" src="https://sofia.parkmart.bg/wp-content/uploads/2021/10/0000010474.png">
                </a>
            </div>

        </div>

    </div>
</div>