@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>
    Im creating a responsive website so that when the website is used as a mobile they can check the box which will display a drop down menu of the navbar. 
    This is currently working except when the box is clicked the drop down nav bar goes behind my banner content. Does anyone know why thisIm creating a responsive
    website so that when the website is used as a mobile they can check the box which will display a drop down menu of the navbar. This is currently working except 
    when the box is clicked the drop down nav bar goes behind my banner content. Does anyone know why thisIm creating a responsive website so that when the website is 
    used as a mobile they can check the box which will display a drop down menu of the navbar. This is currently working except when the box is clicked the drop down 
    nav bar goes behind my banner content. Does anyone know why this
</p>

<div style="height: 1000px;"></div>